@import "styles/mixins/boxShadow.scss";

.header {
  @include boxShadow(1);

  height          : 100%;
  padding         : 0 1rem;
  background-color: rgb(37, 150, 190);
  color           : rgb(255, 255, 255);
  display         : flex;
  flex-flow       : row nowrap;
  align-items     : center;

  &__menu {
    margin-right: 1rem;
    cursor      : pointer;
  }

  &__title {
    text-align: center;
    font-size : 20px;
  }
}